:root {
    --black: #1E1E1E;
    --white: #FFFFFF;
    --gradient1: #FF3BFF;
    --gradient2: #ECBFBF;
    --gradient3: #5C24FF;
    --gradient4: #D94FD5
    
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 html {
    font-family: 'Chillax', sans-serif;
    font-size: 62.5%;
 }

 header {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--black);
    
}
.logo {
    width: 20vw;
    font-size: 3.0rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 25px;
    color: var(--white);
}

.menu-toggle  {
    font-size: 3.0rem;
    border: none;
    background: var(--black);
    color:var(--white);
    padding: 10px;
    margin-left: 48%;

   

}
.menu-toggle:hover {
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

 header nav {
    position: absolute;
    top: 81px;
    right: 0;
    width: 0;
    height: 50vh;
    overflow: hidden;
    background-color: whitesmoke;
    transition: 350ms ease-in-out;
}


.inactive {
    width: 80vw;
}

header nav ul {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 25px;
    gap: 60px;
}
nav ul li {
    width: 40vw;
    list-style: none;
    padding-bottom: 10px;
}
header nav ul a {
    font-size: 2.0rem;
    font-size: 'Cabin', sans-serif;
    font-weight: bold;
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
    
}

header nav ul li a:hover {
    font-weight: bold;
    letter-spacing: 0.2rem;
    transition: all 300ms ease-in-out;
}

body {
    height: auto;
    background-color: var(--black);



}

main {
    background-color: var(--black);
    
}

.first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    height: auto;
}

.first-section h1 {
    margin-top: 20px;
    font-size: 6.6rem;
    font-weight: 900;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    background: linear-gradient(90deg, var(--gradient1) 0%, var(--gradient2) 38.02%, var(--gradient3) 75.83%, var(--gradient4) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.first-section h2 {
    font-size: 6.06em;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    color: var(--white);

}

.first-section p {
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    font-size: 2.0rem;
    color: var(--white);
    font-family: 'Cabin', sans-serif;
    line-height: 44px;

}

.second-section {
    padding: 6px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 120px;
    background: var(--black);


}

.second-section button {
    width: 160px;
    padding: 20px;
    margin-top: 20px;
    font-size: 1.8rem;
    background-color: rgb(10, 9, 9);
    border-radius: 80px;
    color: var(--white);
   
}

.second-section .button-one {
    margin-right: 5px;
    border: solid 1px var(--gradient3);
    
}

.second-section .button-two {
    margin-left: 5px;
    border: solid 1px var(--white);
}

div .background {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 200px;
    margin: 0 auto;
    background-color: var(--black);
}

.background{

    
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../assets/image.png);
    background-color: var(--black);
    background-position: top

}


@media (min-width: 600px) {

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        width: 76%;
        height: 60px;
        position: absolute;
        top: 0;
        background-color: var(--black);
     
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 0;
        margin-right: 6px;
        margin-top: 30px;
        gap: 12px;
    }

    header nav ul li a {
        color: var(--white);
        font-size: 1.6rem;
        gap: 1;
    }
   
    }

    .menu-toggle {
        display: none;
    }









    .first-section h1 {
        font-size: 8.0rem;
       
    }
    
    .first-section h2 {
        font-size: 8.0rem;
    }

    .first-section p {
        font-size: 2.6rem;
    }




    .second-section button {
        width: 200px;
        font-size: 2.2rem;
    }

    div .background {
        
        height: 700px
    
    }
